<h1>Deals</h1>

<div class="row deals-header">
  <div class="col-md-2 col-md-offset-1"><h4>Quick Facts</h4></div>
  <div class="col-md-1"><h5>Per Night</h5></div>
  <div class="col-md-4"><h4>Description</h4></div>
  <div class="col-md-2"><h4>Map</h4></div>
</div>

<div class="deals-container">
  <% @deals.each do |deal| %>
  <div class="row deal-row">
    <div class="col-md-1"><img class="img-circle" style src="<%= deal["imageUrl"] %>" /></div>
    <div class="col-md-2">
      <div class="deal-name"><%= deal["name"] %></div>
      <div class="deal-destination"><%= deal["longDestinationName"] %></div>
      <div class="deal-stars"><%= deal["starRating"] %></div>
    </div>
    <div class="col-md-1">
      <small class="old-price"><%= "Was $#{deal["pricePerNight"].round}" %></small>
      <strong class="new-price"><%= "Now $#{deal["originalPricePerNight"].round}" %></strong>
    </div>
    <div class="col-md-4"><%= deal["description"] %></div>
    <div class="col-md-2">
      <img src="<%= google_map(deal["latitude"], deal["longitude"], 14) %>" />
    </div>

    <div class="col-md-2">
      <a href="<%= URI.decode(deal["dealDeepLink"]) %>" class="btn btn-success btn-block">Learn more</a>
    </div>
  </div>
  <% end %>
</div>
